## Decsion tree
- is a versatile supervised learning algorithm that can be used for both classification and regression tasks.
- it creates a flow-chart like tree structure, where each internal node represents a feature or attribute, each branch represents a decision rule, and each leaf node represents a class label.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
X = df.drop('salary_more_then_100k', axis=1)
y = df['salary_more_then_100k']

In [5]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [6]:
X['company_n'] = le_company.fit_transform(X['company'])
X['degree_n'] = le_company.fit_transform(X['degree'])
X['job_n'] = le_company.fit_transform(X['job'])

In [7]:
X

       company                  job     degree  company_n  degree_n  job_n
0       google      sales executive  bachelors          2         0      2
1       google      sales executive    masters          2         1      2
2       google     business manager  bachelors          2         0      0
3       google     business manager    masters          2         1      0
4       google  computer programmer  bachelors          2         0      1
5       google  computer programmer    masters          2         1      1
6   abc pharma      sales executive    masters          0         1      2
7   abc pharma  computer programmer  bachelors          0         0      1
8   abc pharma     business manager  bachelors          0         0      0
9   abc pharma     business manager    masters          0         1      0
10    facebook      sales executive  bachelors          1         0      2
11    facebook      sales executive    masters          1         1      2
12    facebook     business manager  bachelors          1         0      0
13    facebook     business manager    masters          1         1      0
14    facebook  computer programmer  bachelors          1         0      1
15    facebook  computer programmer    masters          1         1      1

In [8]:
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [9]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [10]:
X = X.drop(['company', 'job', 'degree'], axis=1)

In [11]:
model.fit(X,y)

DecisionTreeClassifier()

In [14]:
model.score(X,y)

1.0

#### Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?

In [15]:
model.predict([[2,1,0]])

/home/felix/Desktop/Data-Science/venv/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

# Excerise 
### In this file using following columns build a model to predict if person would survive or not,
1. Pclass
2. Sex
3. Age
4. Fare
##### Calculate score of your model

In [38]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [40]:
titanic = titanic[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
titanic.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [44]:
dummies = pd.get_dummies(titanic.Sex, drop_first=True)
dummies.head()

   male
0     1
1     0
2     0
3     0
4     1

In [45]:
titanic = pd.concat([titanic, dummies], axis=1)
titanic

     Pclass     Sex   Age     Fare  Survived  male
0         3    male  22.0   7.2500         0     1
1         1  female  38.0  71.2833         1     0
2         3  female  26.0   7.9250         1     0
3         1  female  35.0  53.1000         1     0
4         3    male  35.0   8.0500         0     1
..      ...     ...   ...      ...       ...   ...
886       2    male  27.0  13.0000         0     1
887       1  female  19.0  30.0000         1     0
888       3  female   NaN  23.4500         0     0
889       1    male  26.0  30.0000         1     1
890       3    male  32.0   7.7500         0     1

[891 rows x 6 columns]

In [46]:
titanic = titanic.drop('Sex', axis=1)
titanic.head()

   Pclass   Age     Fare  Survived  male
0       3  22.0   7.2500         0     1
1       1  38.0  71.2833         1     0
2       3  26.0   7.9250         1     0
3       1  35.0  53.1000         1     0
4       3  35.0   8.0500         0     1

In [47]:
titanic = titanic.dropna()

In [48]:
titanic.isnull().sum()

Pclass      0
Age         0
Fare        0
Survived    0
male        0
dtype: int64

In [49]:
titanic.shape

(714, 5)

In [50]:
X = titanic.drop('Survived', axis=1)
y = titanic.Survived

In [51]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [52]:
model.score(X,y)

0.9845938375350141